@import './_variables.styl'
circle-img-size = 60px

.content
  a
    color: vue-blue
.home-course
  display: flex
  text-align: center
  img 
    border-radius: 50%
    height: circle-img-size
    width: circle-img-size
    margin: 4px 10px 0px 10px
    padding: 20px 20px 0px 20px
    font-size: 80px
.home-quote
  margin: 1em 0 0 0
  padding-left: 8px
.home-title
  border-left: 4px solid vue-green
  padding-left: 10px